h1 {
    color: white;;
}

#trivia-container {
    margin-top: 20px;
    text-align: center;
}

#initial-play-btn {
    color: white;
    background-color: green;
}

.initial-btn {
    margin: 30px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}